.edit-container {
    min-width: 423px;

    & > .actions-container {
        height: 40px;
        align-self: center;

        & .delete-icon {
            cursor: pointer;
            display: block;
        }
    }

    & .edit-input {
        width: 187px;
    }
    
    @media (min-width: 600px) {
        width: 225px;
    }

    @media (min-width: 1150px) {
        & .edit-input {
            width: 320px;
        }
    }   
    
    .name-input {
        height: 60px;
    }
}

.tag-select {
    width: 187px;
}