.test-list-entry {
    .delete-button {
        visibility: hidden;

        & > svg {
            cursor: pointer;
            margin-right: 10px;
        }
    }

    &:hover {
        .delete-button {
            visibility: visible;
        }
    }
}