.result-container {    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;

    .delete-button-container {
        width: 40px;
        display: block;
    }

    .delete-button {
        align-self: center;
        cursor: pointer;
    }

    & .delete-button {
        display: none;        
    }

    &:hover .delete-button {
        display: inline;
    }
}