.to-label {
    margin-left: 8px;
    margin-right: 8px;
}


.date-container {
    & .datepicker {
        width: 187px;
    }
}

.tag-select {
    width: 187px;
}

.tag-label-container {
    width: 60px;
}

.add-icon {
    align-self: flex-end;
    padding-left: 16px;
    cursor: pointer;
}

.line-container {
    position: relative;

    & .delete-line-icon {
        position: absolute;
        right: 16px;
        top: 25%;
        @media (min-width: 600px) {
            display: none;
        }
        
    }
}

.line-container:hover {
    & .delete-line-icon {
        display: block;
    }
}

.line-name {
    min-width: 50px;
}

.datepicker-container {
    position: relative;

    & .clear-button {
        position: absolute;
        font-size: 20px;
        right: 0;
        top: 4px;
        cursor: pointer;
        display: none;
    }
}

.datepicker-container:hover .clear-button {
    display: inline;
}