$box-shadow-color: rgba(0, 0, 0, 0.14);
$box-shadow-color-selected: rgba(63, 81, 181, 0.8);

@mixin box-shadow-color-mixin($color, $slide) {
    box-shadow: (0px) (1px + $slide) 5px 0px $color,0px 2px 2px 0px $color,0px 3px 1px -2px $color;
}

.image-select-container {
    position: relative;
    @include box-shadow-color-mixin($box-shadow-color, 0px);

    &.selected {
        @include box-shadow-color-mixin($box-shadow-color-selected, 2px);
    }

    &:hover .select-field, &.selected .select-field {
        visibility: visible;
    }

    &.selected .select-field {
        color: rgba($color: $box-shadow-color-selected, $alpha: 1.0);
    }
}

.select-field {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba($color: white, $alpha: 0.4);
    width: 100%;
    padding-left: 8px;
    visibility: hidden;
}