aniso8601==3.0.2
click==6.7
Flask==1.0.2
Flask-RESTful==0.3.6
Flask-Uploads==0.2.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Pillow==5.2.0
pony==0.7.3
pyocr==0.5.1
python-dotenv==0.8.2
python-Levenshtein==0.12.0
pytz==2018.5
six==1.11.0
Werkzeug==0.14.1
